<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.meta.title }}</title>
  <meta name="description" content="{{ page.meta.description }}">
</head>
<body>
  {% for item in globals.nav %}
    <a href="{{ item.href }}">{{ item.label }}</a>
  {% endfor %}
</body>
</html>